HEALTH_PORT=8080
MTLS_PORT=8443
DEBUG=false
S3_BUCKET_NAME=
AWS_PROFILE=default
AWS_REGION=us-east-1
DATABASE_URL=postgres://user:password@localhost:5432/files?sslmode=verify-full&sslrootcert=certs/ca.pem
TLS_CERT_FILE=certs/file-service.pem
TLS_KEY_FILE=certs/file-service-key.pem
TLS_CA_CERT_FILE=certs/ca.pem
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:password@localhost:5432/files?sslmode=verify-full&sslrootcert=certs/ca.pem
GOOSE_MIGRATION_DIR=db/migrations
