HEALTH_PORT=8080
GRPC_PORT=8443
DEBUG=false
DATABASE_URL=postgres://user:password@localhost:5432/users?sslmode=verify-full&sslrootcert=certs/ca.pem
TLS_CERT_FILE=certs/user-service.pem
TLS_KEY_FILE=certs/user-service-key.pem
TLS_CA_CERT_FILE=certs/ca.pem
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:password@localhost:5432/users?sslmode=verify-full&sslrootcert=certs/ca.pem
GOOSE_MIGRATION_DIR=db/migrations
